
/* ########################## Navigation #######################*/

/* background color */
.full-screen-navbar, .navbar{
    background-color: #ffffff;
}
 /* spacing */
.navbar, .navigation{
    padding-left: 0;
}

.link-section{
    width: 100%;
}

.links{
    float:right;
}

/* brand/logo */
.navbar-brand a{
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 18px 15px 18px 15px;
}

/* Special link CSS: hover, |, ... */
.nav-item:after{
    content: '|';
}

.nav-link{
    display: inline-block;
}

a.nav-link:hover{
    color: orange;
    text-decoration: underline;
}


/* ################################# General #########################*/

/* random spacing fix to go full screen*/
.hr-navbar, .full-screen-navbar{
    padding: 0;
}

/* background */
.navigation, .content{
    background-color: #ffffff;
}
body{
    background-image: url("../images/leaves.png");
}

/* main content border */
.content{
    border: 2px solid #dddddd;
}

/* Container */
.container{
    max-width: 960px!important;
}

.container.content{
    padding: 0 30px 0 30px;
    margin-top: 50px;
}

/* hr elements*/
hr{
    height: 2px;
    background-color: #dddddd;
    margin-top: 0px;
}
footer hr{
    height: 5px;
    background-color: #4aaaa5;

}

/* text elements*/
p, a{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.title p{
    color: #4aaaa5;
    font-size: 2em;
    padding: 20px 0 20px 0;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* images */
img.text-picture{
    float: left;
    padding-right: 15px;
}

/* Contact Page, Submit Button spacing */
form button{
    margin-bottom: 10px;
}

/* ################## FOOTER CSS ################ */

/* Bootstrap Sticky Footer CSS */

html{
    position: relative;
    min-height: 100%;
  }
  body{
    margin-bottom: 60px;
  }

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #666666;
}

/* General Footer CSS */
.footer-note{
    color: orange;
    font-size: .75em;
    position: relative;
}

/*################ Mobile CSS ################### */
@media (max-width: 575px){
    .links{
        float: none;
        text-align: center;
    }
    .navbar-brand{
        margin: 0 auto;
    }

    .nav-item:after{
        content: none;
    }
}